#photoSection {
    font-size: 2rem;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.photoExplain {
    padding: 20px;
    text-align: start;
}

article>h2 {
    text-shadow: 2px 2px 5px grey;
}

figcaption {
    font-size: 1rem;
}

figure {
    text-align: left;
}

figure img {
    margin: 10px;
    width: 20vw;
}

@media only screen and (min-width: 30.938em) {
    #photoSection {
        grid-template-columns: 1fr 1fr;
    }
}