#photoSection {
    font-size: 2rem;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

figcaption {
    font-size: 1rem;
}

figure {
    text-align: left;
}

figure img {
    margin: 10px;
}

@media only screen and (min-width: 30.938em) {
    #photoSection {
        grid-template-columns: 1fr 1fr;
    }
}