#resistorContainer {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: start;
    align-content: center;
    width: 250px;
    height: 150px;
    background-color: rgb(94, 121, 5);
    align-items: center;
    /* height: fit-content; */
}

fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 15%;
}

#resistorContainer input {
    font-size: 1rem;
}

.radioPieces {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-content: space-between;
}

figure {
    display: flex;
    flex-direction: column;
}

figcupture {
    padding: 0;
}

#but {
    position: absolute;
    margin: 10px 0 0px 10px;
}

#calcResult {
    margin-top: 40px;
}

.stripes {
    position: relative;
    margin-top: 70px;
    width: 25px;
    height: 50px;
    display: inline-block;
    background-color: rgb(98, 240, 211);
}

.readingContainer>input {
    margin-top: 40px;
    width: 35px;
    font-size: 16px;
}

#contact {
    /* align-items: baseline; */
    width: 35px;
    margin: 65px 0 0 0px;
    height: 10px;
    /* position: absolute; */
    background-color: rgb(10, 152, 131);
    box-shadow: 0 0 0 rgb(10, 152, 131);
}


/* Diod*/

#diodContainer {
    width: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
    width: 250px;
    height: 150px;
    background-color: rgb(94, 121, 5);
    align-items: center;
}

.rectangle1 {
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: rgb(10, 152, 131);
    margin-top: 40px;
    transform: rotate(35deg);
}

.rectangle2 {
    position: absolute;
    margin-top: -25px;
    margin-right: px;
    width: 50px;
    height: 5px;
    background-color: rgb(10, 152, 131);
    transform: rotate(-35deg);
}

.rectangle3 {
    position: absolute;
    width: 8px;
    height: 50px;
    background-color: rgb(10, 152, 131);
    overflow: hidden;
    margin-right: 40px;
    margin-top: 5px;
}

.rectangle4 {
    position: absolute;
    width: 8px;
    height: 60px;
    background-color: rgb(10, 152, 131);
    margin-right: -38px;
    margin-top: 6px;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}

.diodContact {
    position: absolute;
    margin-right: 80px;
    margin-bottom: px;
    width: 30px;
    height: 10px;
    background-color: rgb(10, 152, 131);
    box-shadow: 75px 0 0 rgb(10, 152, 131);
}


/* Capacitor */

#capacitorContainer {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 250px;
    height: 150px;
    background-color: rgb(94, 121, 5);
    align-items: center;
}

#oval {
    overflow: visible;
    width: 110px;
    position: absolute;
    margin-bottom: 95px;
    height: 52px;
    border: solid 2px black;
    border-radius: 45%;
    background-color: gray;
    z-index: 1;
    /* box-shadow: 0 75px 0 rgb(243, 224, 224);
    ; */
}

#vertLine1 {
    position: absolute;
    height: 75px;
    width: 105px;
    border-radius: 0 0 10px 10px;
    background-color: grey;
    margin-right: 0px;
}

#oval2 {
    width: 105px;
    position: absolute;
    margin-top: 48px;
    height: 50px;
    border: solid 2px black;
    border-radius: 45%;
    background-color: grey;
    overflow: visible;
    z-index: 1;
}

#plus1 {
    width: 50px;
    height: 10px;
    position: absolute;
    margin-bottom: 98px;
    background-color: black;
    z-index: 2;
}

#plus2 {
    width: 30px;
    height: 10px;
    position: absolute;
    margin-bottom: 98px;
    background-color: black;
    transform: rotate(90deg);
    z-index: 2;
}

#vertLine2 {
    height: 73px;
    width: 15px;
    background-color: black;
    margin-left: 0px;
    margin-top: 23px;
    position: absolute;
    z-index: 2;
}

#vertLine3 {
    height: 73px;
    width: 1px;
    background-color: rgb(98, 123, 232);
    border: 1px dashed white;
    margin-left: 0px;
    margin-top: 23px;
    position: absolute;
    z-index: 3;
}

#capacitorContact {
    height: 30px;
    width: 10px;
    background-color: black;
    position: absolute;
    margin-top: 100px;
    margin-left: 40px;
    box-shadow: -40px 0 0 black;
}


/* TRansisitor*/

#transistorContainer {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 250px;
    height: 150px;
    background-color: rgb(94, 121, 5);
    align-items: center;
}

#transistorBody {
    background-color: black;
    width: 80px;
    height: 60px;
    text-align: center;
    padding: 5px;
    color: white;
}

#transistorLegPart1 {
    background-color: white;
    width: 5px;
    height: 20px;
    position: absolute;
    margin-top: 80px;
    margin-right: 50px;
    box-shadow: 50px 0 0 white;
}

#transistorLegCenter {
    background-color: white;
    width: 5px;
    height: 40px;
    position: absolute;
    margin-top: 100px;
}

#transistorLegPart2 {
    background-color: white;
    width: 5px;
    height: 20px;
    transform: rotate(90deg);
    position: absolute;
    margin-top: 98px;
    margin-right: 70px;
    box-shadow: 0 -70px 0 white;
}

#transistorLegPart3 {
    background-color: white;
    width: 5px;
    height: 25px;
    /* transform: rotate(90deg); */
    position: absolute;
    margin-top: 118px;
    margin-right: 85px;
    box-shadow: 87px 0 0 white;
}

@keyframes ball {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: green;
    }
}

.ball1 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    animation-name: ball;
    animation-duration: 10s;
    margin-right: 120px;
    animation-iteration-count: infinite;
}

.ball {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-right: 60px;
    border-radius: 50%;
    background-color: rgb(0, 34, 255);
    animation-name: ball;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@media only screen and (min-width: 30.938em) {
    .radioPieces {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        padding: 10px;
        margin: 20px;
    }
}

#head1,
#head2 {
    height: 70px;
}