html {
    box-sizing: border-box;
}

form {
    display: grid;
    grid-template-columns: ;
    justify-content: start;
    grid-template-rows: auto;
}

.angabe {
    border-bottom: solid 2px;
    margin-bottom: 10px;
}

label {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: space-between;
}

legend {
    margin-bottom: 5px;
}

input[type="radio"] {
    display: flex;
}

label[type="radio"] {
    display: inline;
}

h1 {
    border-top: solid 8px;
    width: 100px;
    padding: 5px;
}

fieldset {
    border-bottom: solid 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

input {
    border-bottom: solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    display: inline;
}

label {}

.double {
    width: 60px;
}

article {}

.but {
    display: flex;
    justify-content: flex-end;
    border: solid;
    width: 100px;
    height: 50px;
    background-color: brown;
    margin: 5px 5px;
}

input[placeholder="*"] {
    text-align: end;
}

.ort {
    background-color: blue;
    width: 60px;
    display: inline-block;
}

input#ort {
    justify-items: flex-start;
    width: 100px;
}